<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Down load App</title>
</head>
<body>
    <div align="center">
        <div><h1>Spring boot file download demo</h1></div>
        <div>
            <div>
                <h3>
                    <a th:href="@{/download_file}">Download file from server</a>
                </h3>
            </div>
            <div>
                <h3>
                    <a th:href="@{/download_document}">Download a document from database</a>
                </h3>
            </div>
            <div>
                <h3>
                    <a th:href="@{/download_csv}">Download from a generate csv</a>
                </h3>
            </div>
        </div>
    </div>
</body>
</html>